.accordion {
   margin-bottom: 42px;
}

.categoriesWrap {
   display: flex;
   align-items: center;
   justify-content: flex-start;
}

.price {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.checkboxBrend {
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 18px;
   justify-items: flex-start;
}

.modelInput {
   font-family: 'SF Pro Display', sans-serif;
   font-size: 12px;
   font-style: normal;
   font-weight: 400;
   line-height: 14px;
   letter-spacing: 0em;
   text-align: left;
   color: #BDBEC2;
   width: 100%;
   height: 30px;
   padding-left: 20px;
   border: 1px solid #E0E0E0;

   :focus, .modelInput:active{
      outline: none;
      color:black;
   }
}



.modelBtn {
   display: none;
}

.modelBox {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr);
   margin-bottom: 20px;
   justify-items: flex-start;
   margin-top: 20px;
   gap: 15px;
}

.linkMore {
   color: #1C62CD;
   cursor: pointer;
   text-decoration-line: underline;
   font-family: 'SFProDisplayRegular', sans-serif;
   font-weight: normal;
   font-size: 14px;
   line-height: 17px;
}

.countryWrap {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr);
   justify-items: flex-start;
}

.choiceWrap {
   display: flex;
}

// .categoriesWrap:first-child {
//    margin-right: 52px;
// }

.modelBox span {
   padding: 0!important;
}

.modelBox span {
   margin-right: 2px!important;
}
