.list {
   background-color: #F0F0F4;
   height: 65px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 50px;
   padding: 0 36px;
}

.link {
   color: #2F3035;
   opacity: 0.6;
   font-family: 'SF Pro Display', sans-serif;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px;
   text-align: left;
   transition: text-shadow .3s;
   padding-bottom: 5px;

   
   &:hover  {
      text-shadow: 0 0 .65px #2F3035, 0 0 .65px #2F3035;
      border-bottom: 2px solid #1C62CD;
      // font-weight: 600;
      opacity: 1;
   }

   &:active {
      border-bottom: 2px solid #1C62CD;
      opacity: 1;
   }
}

