.title {

font-family: 'SF Pro Display', sans-serif !important; 
font-style: normal;
font-weight: normal;
font-size: 15px !important;
line-height: 18px;
text-align: center;
color: #2F3035 !important;
text-transform: lowercase !important;

}

.box {
    border-bottom: none !important;
}