.header {
   height: 152px;
   margin-top: 25px;
}

.container {
   margin: 0 auto;
   width: 100%;
   max-width: 1170px;
}

.headerTop {
   margin-bottom: 20px;
   display: flex;
   justify-content: space-between;
}

.headerNavList {
   display: flex;
   align-items: center;
   justify-content: center;
}

.navLink {
   color: #2F3035;
}

.headerNavItem {
   font-family: SF Pro Display, sans-serif;
   font-size: 20px;
   font-style: normal;
   font-weight: 700;
   line-height: 24px;
   letter-spacing: 0em;
   margin-right: 50px;

   &:last-child {
      margin-right: 0px;
   }
}

.location {
   display: flex;
   align-items: center;
   margin-right: 86px;
}

.locationAdress {
   font-family: SF Pro Display, sans-serif;
   font-size: 20px;
   font-style: normal;
   font-weight: 700;
   line-height: 24px;
}

.rightBlock {
   display: flex;
}

.personalBlockList {
   display: flex;
   align-items: center;
   justify-content: center;
}

.personalBlockItem {
   position: relative;
   margin-right: 10px;

   &:last-child {
      margin-right: 0px;
   }
}

.basketImg {
   position: relative;
}

.number {
   position: absolute;
   bottom: -2px;
   left: 24px;
   font-family: SF Pro Display, sans-serif;
   font-size: 10px;
   line-height: 12px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   color: #fff;
   background-color: #1C62CD;
}