.ProductDesc {
    margin-bottom: 80px;
    margin-top: 45px;
    display: grid;
    grid-template-columns: 500px 570px;
    gap: 100px;
    grid-template-rows: 1fr;
}

.title {

font-family: 'SF Pro Display',sans-serif;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 36px;
color: #2F3035;
margin: 0;
margin-bottom: 10px;
}

.productCode {
font-family: 'SF Pro Display', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 18px;
color: #2F3035;
opacity: 0.6;
}

.ratingGroup {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 20px;
}

.productTab {
    margin: 50px 0 25px 0;
}

.table{
    // display: grid;
    // grid-template-columns: 281px 125px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px;
    border-collapse: collapse;
    // display: flex;
    // align-items:flex-end;
}

.tableRow{
    height: 45px;
    // border-bottom: 1px solid rgba(047,048,053, .1);
    // color:#2F3035;
    font-family: 'SFProDisplayRegular';
    font-weight: 400;
    font-size: 20px;
}

.links {
    display: flex;
    flex-direction: column;
}
.infoProductMoreLink{
    color:#1C62CD;
    font-family: 'SFProDisplayRegular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-decoration-line:underline;
    margin-bottom: 45px;
    -moz-text-decoration-line:underline;
}

.infoProductBtn{
    font-family: 'SFProDisplayRegular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color:#FFFFFF;
    letter-spacing: 0.12em;
    width: 177px;
    height: 50px;
    background-color:#1C62CD;
    border:none;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;  
    cursor: pointer;
}

td {
    border-bottom: 1px solid rgba(47, 48, 53, .1);
    
}