.container  {
    background-size: 100%;
    background-color:#F0F0F4;
}

.footer {
    background-color: #F0F0F4;
    height: 232px;
    display: flex;
    margin-bottom: 81px;
    margin: 0 auto;
    width: 100%;
    padding: 42px 0 27px 0;
    justify-content: space-between;
    max-width: 1140px;
}