.schoice {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 21%;
}

.catalogCheck {
    padding: 4px !important;
}

.checkText {
    font-family: 'SFProDisplayRegular', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

