.blueButton {
   cursor: pointer;
   width: 140px;
   height: 35px;
   background-color: #1C62CD;
   border-radius: 3px;
   font-family: SF Pro Display, sans-serif;
   font-size: 13px;
   font-style: normal;
   font-weight: 400;
   line-height: 16px;
   letter-spacing: 0.12em;
   text-align: center;
   text-transform: uppercase;
   color: #FFFFFF;
   align-self: center;
   //margin-top: 35px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -ms-border-radius: 3px;
   -o-border-radius: 3px;
}