.CardsCatalog {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 25px;
}

.swiper-button-prev:after, .swiper-button-prev:before {
    color: #2F3035;
    width: 15,18px;
    height :28,39px;
}
