.Label {
    position: absolute;
    top: 0;
    left: 0;
    width: 63px;
    height: 25px;
    background-color: #1C62CD;    
    font-family: 'SF Pro Display' , sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.07em;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

